@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin:0;
    padding:0;
}

/* Fill your code*/
body{
    background-color: rgb(166, 88, 197);
}
.header{
    height: 60px;
    width: 100%;
    background-color:rgb(68, 45, 28);
    
}
.logo>img{
    margin-top: -30px;
    margin-left: 538px;
    height: 80px;
    width: 180px;
}
.oval {
    display: flex;
    height: 135px;
    width: 250px;
    background-color: black;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: 502px ;
    box-shadow: 0 0 10px 0 black;
}

.oval>p{
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      color: whitesmoke;
      margin-top: 85px;
      margin-left: 78px;
  }




.middlepart{
    position: relative;
   
    width: auto;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.prices img{
    position: relative;
    top: 120px;
    left: 100px;
}

.price{
    position: relative;
    color: white;
    top: -140px;
    left: 200px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Architects Daughter', cursive;
}

ul{
    position: relative;
    top: -120px;
    left:150px;
    list-style: none;
}

li{
    padding: 4.5px;
    font-size: 1rem;
    color: white;
    font-family: 'Architects Daughter', cursive;
}

#candle{
    width: 70px;
    height: 50px;
    position: absolute;
    left: 47.5%;
    top: 22%;
    visibility: hidden;
}

.cakebuild{
    position: relative;
    top: 150px
}

#layer1{

    border-radius: 10px;
    width: 200px;
    height: 5px;
    visibility: hidden;
    margin: auto;
    padding: 20px;
}

#layer2{

    border-radius: 10px;
    width: 170px;
    height: 5px;
    visibility: hidden;
    margin: auto;
    padding: 20px;
}

#layer3{
    border-radius: 10px;
    width: 140px;
    height: 5px;
    visibility: hidden;
    margin: auto;
    padding: 20px;
}

#layer4{
    width: 110px;
    border-radius: 10px;
    height: 5px;
    visibility: hidden;
    margin: auto;
    padding: 20px;
}

#layer5{
    
    width: 80px;
    height: 5px;
    visibility: hidden;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.billboard img{
    position: relative;
    top: 110px;
    right: 20px;
    font-size: 0.8rem;
}
.billheading{
    position: relative;
    top: -140px;
    right: -90px;
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-family: 'Architects Daughter', cursive;
}

.bill{
    position: relative;
    top: 10px;
    right: -50px;
    color: white; 
    margin-bottom: 5px; 
    font-family: 'Architects Daughter', cursive; 
}

.footer{
    height: 100px;
    width: 100%;
    background-color:rgb(68, 45, 28);
    justify-content: space-between;
}

.footer input[type = button]{
    position: relative;
    top: 30px;
    background-color: rgb(166, 88, 197);
    color: white;
    width: auto;
    height: 35px;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 10%;
    margin-left: 100px;
    font-family: 'Acme', sans-serif;
}

input[type = button]:hover
{
    cursor: pointer;
}
#buybtn{
    background-color: chartreuse;
    color: black;
}
